a.nav-link.active {
  background:rgba(255, 255, 255, 0.081);
  position: relative;
}

a.nav-link.active::after {
  content : "";
  display: block;
  position: absolute;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  right : 0;
  top : 50%;
  transform: translateY(-50%);
}

.navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a.active {
  background:rgba(255, 255, 255, 0.081);
  position: relative;
}

.navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a.active::after {
  content : "";
  display: block;
  position: absolute;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  right : 0;
  top : 50%;
  transform: translateY(-50%);
}